.search-wrapper {
    width: 100%;
    height: 80px;
    padding: 20px 10px 10px 10px;
    z-index: 3;

    position: fixed;
    top: 0;
    left: 200px;

    background: #ecf0fe;
    box-shadow: 10px 10px 20px #c9ccd8,
                -10px -10px 20px #ffffff;
}

#user-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 100px;
    overflow-y: scroll;
    padding-bottom: 120px;
}

#user-item {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    background: #ecf0fe;
    box-shadow:  10px 10px 20px #d4d8e5,
                -10px -10px 20px #ffffff;

    transition: 0.1s;
    transition-timing-function: ease;

    margin: 10px 15px 10px 15px;
    padding: 20px;
}

#user-item:hover {
    box-shadow:  15px 15px 30px #d4d8e5,
                -15px -15px 30px #ffffff;
}

.social {
    display: flex;
    align-items: center;
    padding: 3px 0 3px 0;
}


.user-icon {
    width: 50px;
    height: 50px;
    padding: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: #ecf0fe;
    box-shadow:  5px 5px 10px #c9ccd8,
                -5px -5px 10px #ffffff;
}

.status {
    font-size: 12px;
}

#username {
    font-size: 25px;
}


.user-icon-mini {
    width: 30px;
    height: 30px;

    padding: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: #ecf0fe;
    box-shadow:  5px 5px 10px #c9ccd8,
                -5px -5px 10px #ffffff;
}

input {
    height: 40px;
    width: 100px;
    padding: 10px;
    margin: 0 10px 0 10px;

    border: none;
    outline:none;
    border-radius: 10px;
    background: #ecf0fe;
    box-shadow: inset 5px 5px 10px #c9ccd8,
                inset -5px -5px 10px #ffffff;
}

form button {
    border: none;

    border-radius: 10px;
    height: 40px;
    width: 80px;

    background: linear-gradient(145deg, #fdffff, #d4d8e5);
    box-shadow:  5px 5px 10px #c9ccd8,
                -5px -5px 10px #ffffff;
}

form button:hover {
    background: linear-gradient(145deg, #d4d8e5, #fdffff);
    box-shadow: 5px 5px 10px #c9ccd8,
                -5px -5px 10px #ffffff;
}

@media (max-width:520px) {
    .search-wrapper {
        left: 0;
    }
}