{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/basic/layout.css' %}">
        <link rel="icon" type="image/png" href="{% static 'icons/icon.png' %}">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <title>Welcome to PSDB!</title>
        <link rel="stylesheet" href="{% static 'css/basic/about.css' %}">
    </head>

    <body>
        <div id="about-wrapper">
            <h1 id="catch">The database for all PS3D players.</h1>
            <div>
                <div id="skin-wrapper">
                    <div id="skin-group1">
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">THEROBBER</p>
                                <p id="skin-description">The skin of the robber</p>
                                
                                <div id="high-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>High-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon1.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">Zino.</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image1.png' %}" id="skin-image" alt="">
                        </div>
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">The hood girl</p>
                                <p id="skin-description">Low-res public skin! If you want other skins, check my profile.</p>
                                
                                <div id="low-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>Low-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon2.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">Spinxing</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image2.png' %}" id="skin-image" alt="">
                        </div>
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">Akatsuki Duck</p>
                                <p id="skin-description">It’s an akatsuki duck skin</p>
                                
                                <div id="high-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>High-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon3.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">Vernity.</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image3.png' %}" id="skin-image" alt="">
                        </div>
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">Super girl</p>
                                <p id="skin-description">My only one public skin.</p>
                                
                                <div id="high-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>High-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon4.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">anna</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image4.png' %}" id="skin-image" alt="">
                        </div>
                    </div>
                    <div id="skin-group2">
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">THEROBBER</p>
                                <p id="skin-description">The skin of the robber</p>                                
                                <div id="high-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>High-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon1.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">Zino.</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image1.png' %}" id="skin-image" alt="">
                        </div>
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">The hood girl</p>
                                <p id="skin-description">Low-res public skin! If you want other skins, check my profile.</p>
                                <div id="low-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>Low-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon2.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">Spinxing</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image2.png' %}" id="skin-image" alt="">
                        </div>
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">Akatsuki Duck</p>
                                <p id="skin-description">It’s an akatsuki duck skin</p>                                
                                <div id="high-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>High-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon3.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">Vernity.</div>
                                </div>
                            </div>                                <img src="{% static 'images/skin-image3.png' %}" id="skin-image" alt="">
                        </div>
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">Super girl</p>
                                <p id="skin-description">My only one public skin.</p>
                                
                                <div id="high-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>High-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon4.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">anna</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image4.png' %}" id="skin-image" alt="">
                        </div>
                    </div>
                    <div id="skin-group3">
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">THEROBBER</p>
                                <p id="skin-description">The skin of the robber</p>
                                
                                <div id="high-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>High-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon1.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">Zino.</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image1.png' %}" id="skin-image" alt="">
                        </div>
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">The hood girl</p>
                                <p id="skin-description">Low-res public skin! If you want other skins, check my profile.</p>
                                
                                <div id="low-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>Low-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon2.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">Spinxing</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image2.png' %}" id="skin-image" alt="">
                        </div>
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">Akatsuki Duck</p>
                                <p id="skin-description">It’s an akatsuki duck skin</p>
                                
                                <div id="high-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>High-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon3.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">Vernity.</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image3.png' %}" id="skin-image" alt="">
                        </div>
                        <div id="skin-item">                                
                            <div id="skin-status">
                                <p id="skin-name">Super girl</p>
                                <p id="skin-description">My only one public skin.</p>
                                
                                <div id="high-res">
                                    <img src="{% static 'icons/low-res.jpg'%}" class="res-icon" alt="">
                                    <p>High-res</p>
                                </div>
                                <div id="last" class="user-in-skin-item">
                                    <img src="{% static 'images/user-icon4.png' %}" class="user-icon-mini" alt="">
                                    <div id="username">anna</div>
                                </div>
                            </div>
                            <img src="{% static 'images/skin-image4.png' %}" id="skin-image" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <h3>
                You can easily find skins of Pixel Strike 3D by simply searching, such as name, motif and creator. <br>
                More features are now being developed, coming soon!
            </h3>
            <div id="center-wrapper">
                <a href="{% url 'login' %}" class="buttons">
                    Login
                </a>
                <a href="{% url 'users_create' %}" class="buttons">
                    Signup
                </a>
            </div>
            <a href="{% url 'skins_index' %}">
                ▶︎Skins
            </a>
        </div>
    </body>
</html>